@import url("https://fonts.googleapis.com/css2?family=Anton&family=BenchNine:wght@300&family=Nanum+Gothic:wght@700&family=Noto+Sans+JP&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;1,400&family=Oleo+Script+Swash+Caps&family=Oswald&family=Overpass:wght@500&family=PT+Serif:wght@700&family=Poppins:wght@600&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

#grilla {
  width: 100%;
  height: 100vh;
}

html {
  font-size: 62, 5%;
}

.border {
  border: 1px solid black;
}

header {
  grid-area: header;
  background-color: black;
}

main {
  grid-area: main;
  background-color: black;
}

footer {
  grid-area: footer;
  background-color: black;
}

nav {
  grid-area: nav;
  background-color: darkkhaki;
}