
  /*estilos */
  .header-uno {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .icon-header {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    margin-top: 15px;
    margin-bottom: 20px;
    .p-icon {
    color: antiquewhite;
    font-family: "teko", sans-serif;
    font-size: 20px;
    padding-right: 10px;
    margin-left: 0%;
  }
  }
  .fotoInicio{
    margin-left: 25%;
  }
  ul{
    display: flex;
    flex-direction: column;
    li{
      list-style-type: none;
      padding-top: 2px;
      padding-bottom: 2px;
     a {
    text-decoration: none;
    color: whitesmoke;
    padding-left: 20px;
    font-weight: bold;
    font-size: 25px;
    font-family: "Teko", sans-serif;
    &:hover {
    color: crimson;
    transition: all 2s;
    transform: scale(2);
   }
  }
 }
}
h1 {
    display: flex;
    flex-direction: row;
    color: beige;
    font-family: "BenchNine";
    font-size: 25px;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 30px;
    border: 5px groove yellowgreen;
    background-color: black;
    &:hover {
    transition: all 2s;
    transform: scale(1);
    background-color: white;
    font-family: "BenchNine";
    color: black;
  }
  }

  main {
    background-image: url(../img/214373348_534097318008665_7287868255112452351_n.jpg);
    background-position: bottom;
  }
  .index{
    display: flex;
    flex-direction: column;
    margin-top:30px;
 }  
 .main-index{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px; 
    margin-bottom: 10px;
    .fotoIndex{
    margin-left: 20%;
    border: 4px solid red;
}
}
  .parrafo-index{
  padding-top: 20px;
    margin-right: 18%;
    margin-left: 12%;
    font-size: 30px;
    font-family: 'teko',sans-serif;
     &:hover{
    background-color: #ffe4c4;
    color: #000000;
   }
   }
.listaFooter{
  display: flex;
  flex-direction: column;
  .footer-index {
  display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    color: bisque;
    font-family: "teko", sans-serif;
    font-size: 30px;
    padding-left: 20px;
    &:hover {
    color: crimson;
    }
  }
 }
 .contenedor-boton{
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  left: 0%;
  bottom: 10%;
  margin-left: 65%;
 &:hover{
    background-color: #000000;
   }
}
.boton{
    width: 60px;
    transition: ease 1s;
    
   
}
  

  @media(min-width:768px){
    .header-uno {
      display: flex;
      flex-direction: row;
      margin-left: 50px;
      .icon-header {
      display: flex;
      flex-direction: row;
      margin-left: 35%;
      margin-top: 80px;
      margin-bottom: 20px;
      .p-icon {
      color: antiquewhite;
      font-family: "teko", sans-serif;
      font-size: 20px;
      padding-right: 10px;
      margin-left: 0%;
    }
 }
}
.fotoInicio{
  margin-left: 0%;
}  
    
ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  li{
    list-style-type: none;
    padding-top: 10px;
    padding-bottom: 10px;
   a {
  text-decoration: none;
  color: whitesmoke;
  padding-left: 20px;
  font-weight: bold;
  font-size: 35px;
  font-family: "Teko", sans-serif;
  &:hover {
  color: crimson;
  transition: all 2s;
 }
}
}
} 
      
    h1 {
      display: flex;
      flex-direction: row;
      color: beige;
      font-family: "BenchNine";
      font-size: 30px;
      padding-top: 10px 10px 10px 10px;
      margin-top: 30px;
      margin-right: 20%;
      margin-left: 20%;
      padding-left: 30px;
      border: 5px groove yellowgreen;
      background-color: black;
      &:hover {
      transition: all 2s;
      transform: scale(1);
      background-color: white;
      font-family: "BenchNine";
      color: black;
    }
    }
    
    
    main {
      background-image: url(../img/214373348_534097318008665_7287868255112452351_n.jpg);
      background-position: bottom;
    }
    
  
  .index{
      display: flex;
      flex-direction: column;
      margin-top:30px;
     
  }
  .main-index{
      display: flex;
      flex-direction: row;
      margin-top: 20px; 
      margin-bottom: 30px;
      .fotoIndex{
      margin-left: 10%;
      border: 4px solid red;
       .parrafo-index{
    padding-top: 50px;
      margin-right: 5%;
      margin-left: 5%;
      padding-left: 10px;
      font-size: 30px;
      font-family: 'teko',sans-serif;
       &:hover{
      background-color: #ffe4c4;
      color: #000000;
  }
  }
 }
}
.listaFooter{
  display: flex;
  flex-direction: row;
  
}
    .footer-index {
      display: flex;
    flex-direction: row;
      list-style-type: none;
      text-decoration: none;
      color: bisque;
      font-family: "teko", sans-serif;
      font-size: 30px;
      padding-left: 20px;
      &:hover {
      transition: all 2s;
      color: crimson;
    }
    }
  }
    
  .contenedor-boton{
    position: fixed;
    z-index: 999;
    left: 0%;
    bottom: 10%;
    margin-left: 80%;
   &:hover{
      background-color: #000000;
     }
  }
  .boton{
      width: 60px;
      transition: ease 1s;
      color: #ffe4c4;
      font-size: 30px;
      font-family: 'teko';
     
  }

@media (min-width:1024px){
  .header-uno {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    .icon-header {
    display: flex;
    flex-direction: row;
    margin-left: 35%;
    margin-top: 80px;
    margin-bottom: 20px;
    .p-icon {
    color: antiquewhite;
    font-family: "teko", sans-serif;
    font-size: 20px;
    padding-right: 10px;
    margin-left: 0%;
  }
}
}
.fotoInicio{
margin-left: 0%;
}  
  
ul{
display: flex;
flex-direction: row;
justify-content: center;
li{
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
 a {
text-decoration: none;
color: whitesmoke;
padding-left: 20px;
font-weight: bold;
font-size: 35px;
font-family: "Teko", sans-serif;
&:hover {
color: crimson;
transition: all 2s;
}
}
}
} 
    
  h1 {
    display: flex;
    flex-direction: row;
    color: beige;
    font-family: "BenchNine";
    font-size: 30px;
    padding-top: 10px 10px 10px 10px;
    margin-top: 30px;
    margin-right: 20%;
    margin-left: 20%;
    padding-left: 30px;
    border: 5px groove yellowgreen;
    background-color: black;
    &:hover {
    transition: all 2s;
    transform: scale(1);
    background-color: white;
    font-family: "BenchNine";
    color: black;
  }
  }
  
  
  main {
    background-image: url(../img/214373348_534097318008665_7287868255112452351_n.jpg);
    background-position: bottom;
  }
  

.index{
    display: flex;
    flex-direction: column;
    margin-top:30px;
   
}
.main-index{
    display: flex;
    flex-direction: row;
    margin-top: 20px; 
    margin-bottom: 30px;
    .fotoIndex{
    margin-left: 10%;
    border: 4px solid red;
     .parrafo-index{
  padding-top: 50px;
    margin-right: 5%;
    margin-left: 5%;
    padding-left: 10px;
    font-size: 30px;
    font-family: 'teko',sans-serif;
     &:hover{
    background-color: #ffe4c4;
    color: #000000;
}
}
}
}
.listaFooter{
display: flex;
flex-direction: row;

}
  .footer-index {
    display: flex;
  flex-direction: row;
    list-style-type: none;
    text-decoration: none;
    color: bisque;
    font-family: "teko", sans-serif;
    font-size: 30px;
    padding-left: 20px;
    &:hover {
    transition: all 2s;
    color: crimson;
  }
  }
}
  
.contenedor-boton{
position: fixed;
z-index: 999;
left: 0%;
bottom: 10%;
margin-left: 85%;
&:hover{
  background-color: #000000;
 }
}
.boton{
  width: 60px;
  transition: ease 1s;

}

